@import url('https://fonts.googleapis.com/css2?family=Sofia&family=Roboto&display=wap');
h1{
    color:#f3f3f3;
    text-align: center;
    text-transform:uppercase;
    text-shadow:2px 2px 2px #6c1e89;
    letter-spacing:3px;
    word-spacing:10px;
    text-decoration:overline underline;
}
div{
    display:block;
}
h2{
    color:#d3c5d7
}
body {
    background-color: #1b0e47;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.caja1{
    padding: 10px;
    width:40%;
    height:100px;
    border-radius:10px;
    font-family: 'Courier New', Courier, monospace;
    color:white;
    text-align: left;
    margin:5px;
    float:left;
    background-color:rgb(75, 14, 111,0.5) ;
    
}
.caja2{
    padding: 5px;
    width:40%;
    height:120px;
    border-radius:10px;
    font-family: 'Courier New', Courier, monospace;
    color:white;
    text-align: left;
    margin:5px;
    float:inline-start;
    background-color:rgb(75, 14, 111,0.5);
}
.caja3{
    padding: 5px;
    width:40%;
    height:80px;
    border-radius:10px;
    font-family: 'Courier New', Courier, monospace;
    color:white;
    text-align: left;
    margin:5px;
    float:inline-start;
    background-color:rgb(75, 14, 111,0.5);
}
.caja4{
    padding: 5px;
    width:40%;
    height:80px;
    border-radius:10px;
    font-family: 'Courier New', Courier, monospace;
    color:white;
    text-align: left;
    margin:5px;
    float:left;
    background-color:rgb(75, 14, 111,0.5);
}
.img{
    height: 300px;
    margin-left:100px;
    margin-top: 20px;
    background-color: rgba(126, 27, 62, 0.3);
   
}
